<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425018615214-sj17qt4i9lkleov9qgli7nt5lhaghv8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425018615214-sj17qt4i9lkleov9qgli7nt5lhaghv8d</string>
	<key>API_KEY</key>
	<string>AIzaSyBWoKVhSItqLIiWBW35uTcPBuXb9tQ6924</string>
	<key>GCM_SENDER_ID</key>
	<string>425018615214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fruitHub</string>
	<key>PROJECT_ID</key>
	<string>fruit-hub-cb9d8</string>
	<key>STORAGE_BUCKET</key>
	<string>fruit-hub-cb9d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425018615214:ios:ec9b57ab04751b20c1943f</string>
</dict>
</plist>